[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
django-phonenumber-field = "*"
djoser = "*"
drf-spectacular = "*"
phonenumbers = "*"
pillow = "*"
django-extensions = "*"
django-debug-toolbar = "*"
python-dotenv = "*"

[dev-packages]
bpython = "*"

[requires]
python_version = "3.10"
