[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"
django-sass-processor = "*"
phonenumbers = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"
djoser = "*"
drf-spectacular = "*"
libsass = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
