{% load static %}
<header class="header">
    <div class="header_flex-wraper">
        <div class="header_flex-wraper__left">
            <div class="header_flex-wraper__left__logo"><a href="{% url 'catalog:index' %}"><img
                        src="{% static 'images/logo_icon.svg' %}" class="icon__logo"><span
                        class="header_flex-wraper__left__logo__name"> Ps Shop</span> </a></div>
            <div class="header_flex-wraper__left__navbar">
                <!-- menu -->
                <ul class="header_flex-wraper__left__navbar-list">
                    <li>
                        <div>
                            <a href="{% url 'catalog:game_list' %}">игры</a> <i
                                class="fas fa-chevron-down icon__arrow_down drop_menu"></i>
                        </div>
                        <!-- drop menu -->
                        <div class="header_flex-wraper__left__navbar-list__second_list-wraper">
                            <ul class="header_flex-wraper__left__navbar-list__second_list">
                                <li><a href="{% url 'catalog:game_list' %}">Все игры</a></li>
                                {% for category in game_category %}
                                <li><a href="{% url 'catalog:game_list' category.slug %}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <!-- <li>
                        <div>
                            <a href="#">консоли</a> <i class="fas fa-chevron-down icon__arrow_down drop_menu"></i>
                        </div>
                        <div class="header_flex-wraper__left__navbar-list__second_list-wraper">
                            <ul class="header_flex-wraper__left__navbar-list__second_list">
                                <li><a href="#">Новые игры</a></li>
                                <li><a href="#">Популярные</a></li>
                                <li><a href="#">Со скидкой</a></li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
        <!-- Иконки соц. сетей -->
        <div class="header_flex-wraper__right">
            <div class="header_flex-wraper__right__social">
                <a href="#"><img src="{% static 'images/instagram.svg' %}" class="icon__social_instagram"></a>
                <a href="#"><img src="{% static 'images/whatsapp.svg' %}" class="icon__social_whatsapp"></a>
                <a href="#"><img src="{% static 'images/telegram.svg' %}" class="icon__social_telegram"></a>
                <a href="#"><img src="{% static 'images/viber.svg' %}" class="icon__social_viber"></a>
            </div>
            <div class="header_flex-wraper__right__search">
                <form action="{% url 'catalog:game_list' %}" class="header_flex-wraper__right__search__form"
                    method="get">
                    <input type="text" name="name" id="search" placeholder="Поиск...">
                    <button type="submit" class=><img src="{% static 'images/search_icon.svg' %}"
                            class="icon__search" /></button>
                </form>
            </div>
            <!-- <div class="header_flex-wraper__right__cart">
                <a href="#"><img src="{% static 'images/cart_icon.svg' %}" class="icon__cart"><span
                        class="icon__cart_count">0</span></a>
            </div> -->
            <div class="header_flex-wraper__right__menu">
                <span></span>
            </div>
        </div>
    </div>
</header>
