@import "../base";

.content {
    padding-top: 60px;

    @include for-tablet-up {
        margin-top: 100px;
        padding-top: 0px;
    }
}

.catalog {
    grid-area: C;
    margin-top: 20px;
    @include for-desktop-up {
        margin-top: 0px;
    }
    &_header {
        font-size: 24px;

        &_title {
            color: $dark_font_color;
        }
    }

    &_grid {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @include for-tablet-up {
            justify-content: center;
        }

        @include for-desktop-up {
            display: grid;
            margin-top: 30px;
            row-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
        }
    }
}

.grid {
    display: grid;
    grid-template-areas:
        "S"
        "C";
    @include for-desktop-up {
        grid-template-areas: "S C C C";
    }
}

.filter {
    width: auto;
    grid-area: S;
    color: $dark_font_color;
    margin: auto;
    @include for-tablet-up {
        padding: 0px 20px;
        width: 180px;
        margin-top: 0px;
    }

    &_group {
        @include for-tablet-up {
            margin-bottom: 20px;
        }
        &_header {
            margin-bottom: 10px;
            &_title {
                color: $dark_font_color;
                font-size: 20px;
            }
        }
        &_items {
            &_label {
                position: relative;
                label {
                    min-width: 20px;
                }
                &_icon {
                    height: 16px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto 0px;
                }
                select {
                    width: 180px;
                    // margin-top: 10px;
                }
                &_input {
                    &[type="number"] {
                        width: 120px;
                    }

                    margin-bottom: 10px;
                    // убираем стелочки для инпута
                    &[type="number"]::-webkit-outer-spin-button,
                    &[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &[type="number"] {
                        -moz-appearance: textfield;
                    }
                    &[type="number"]:hover,
                    &[type="number"]:focus {
                        -moz-appearance: number-input;
                    }
                    &[type="number"]::-webkit-inner-spin-button,
                    &[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                &_text {
                    font-size: 16px;
                    line-height: 16px;
                    display: inline-block;

                    color: $dark_font_color;
                }
            }
        }
    }

    &_show_button {
        display: block;
        font-size: 20px;
        width: 180px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        margin: 15px auto 0px;
        cursor: pointer;
        @include for-tablet-up {
            font-size: 20px;
            width: 180px;
        }
    }
}
