{% load static %}
<footer class="footer">
    <section class="footer_inner centered">
        <div class="footer_inner_contacts">
            <div class="footer_inner_contacts_address">
                <div class="footer_inner_contacts_address_title">
                    Наши контакты:
                </div>
                <div class="footer_inner_contacts_address_item">
                    <address>Москва, ул. Москворечье</address>
                    <span>+7 777 777 77 77</span>
                </div>
            </div>
            <div class="footer_inner_contacts_social">
                <a href="#"><img src="{% static 'images/instagram.svg' %}" class="icon__social_footer_instagram"></a>
                <a href="#"><img src="{% static 'images/whatsapp.svg' %}" class="icon__social_footer_whatsapp"></a>
                <a href="#"><img src="{% static 'images/telegram.svg' %}" class="icon__social_footer_telegram"></a>
                <a href="#"><img src="{% static 'images/viber.svg' %}" class="icon__social_footer_viber"></a>
            </div>
        </div>
        <div class="footer_inner_copyright">
            © 2021, Ps shop. Все права сохранены.
        </div>
    </section>
</footer>
</body>
</html>