<footer class="footer">
    <section class="footer_inner centered">
        <div class="footer_inner_contacts">
            <div class="footer_inner_contacts_address">
                <div class="footer_inner_contacts_address_title">
                    Наши контакты:
                </div>
                <div class="footer_inner_contacts_address_item">
                    <span>Москва, ул. Москворечье</span>
                    <span>+7 777 777 77 77</span>
                </div>
            </div>
            <div class="footer_inner_contacts_social">
                <a href="#"><i class="fab fa-instagram icon__social"></i></a>
                <a href="#"><i class="fab fa-whatsapp icon__social"></i></a>
                <a href="#"><i class="fab fa-telegram-plane icon__social"></i></a>
                <a href="#"><i class="fab fa-viber icon__social"></i></a>
            </div>
        </div>
        <div class="footer_inner_copyright">
            © 2021, Ps shop. Все права сохранены.
        </div>
    </section>
</footer>
</body>
</html>