<header class="header">
    <div class="header_flex-wraper">
        <div class="header_flex-wraper__left">
            <div class="header_flex-wraper__left__logo"><a href="#">ps shop</a></div>
            <div class="header_flex-wraper__left__navbar">
                <!-- menu -->
                <ul class="header_flex-wraper__left__navbar-li">
                    <li>
                        <a href="#">игры <i class="fas fa-chevron-down icon__arrow_down"></i></a>
                        <!-- drop menu -->
                        <!-- <ul class="header_flex-wraper__left__navbar-li__game_drop">
                            <li><a href="#">новые игры</a></li>
                            <li><a href="#">популярные</a></li>
                            <li><a href="#">со скидкой</a></li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="#">консоли <i class="fas fa-chevron-down icon__arrow_down"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header_flex-wraper__right">
            <div class="header_flex-wraper__right__social">
                <a href="#"><i class="fab fa-instagram icon__social"></i></a>
                <a href="#"><i class="fab fa-whatsapp icon__social"></i></a>
                <a href="#"><i class="fab fa-telegram-plane icon__social"></i></a>
                <a href="#"><i class="fab fa-viber icon__social"></i></a>
            </div>
            <div class="header_flex-wraper__right__search">
                <input type="search" name="search" id="search" placeholder="поиск...">
                <!-- <i class="fas fa-search icon__search"></i> -->
            </div>
            <div class="header_flex-wraper__right__cart">
                <a href="#"><i class="fas fa-shopping-cart icon__cart"></i></a> <span class="cart_count">0</span>
            </div>
        </div>
    </div>
</header>