{% load static %}
<header class="header">
    <div class="header_flex-wraper">
        <div class="header_flex-wraper__left">
            <div class="header_flex-wraper__left__logo"><a href="#"><img src="{% static 'images/logo_icon.svg' %}" class="icon__logo"> Ps Shop </a></div>
            <div class="header_flex-wraper__left__navbar">
                <!-- menu -->
                <ul class="header_flex-wraper__left__navbar-list">
                    <li>
                        <a href="#">ИГРЫ <i class="fas fa-chevron-down icon__arrow_down"></i></a>
                        <!-- drop menu -->
                        <ul class="header_flex-wraper__left__navbar-list__second_list">
                            <li><a href="#">Новые игры</a></li>
                            <li><a href="#">Популярные</a></li>
                            <li><a href="#">Со скидкой</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">КОНСОЛИ <i class="fas fa-chevron-down icon__arrow_down"></i></a>
                        <ul class="header_flex-wraper__left__navbar-list__second_list">
                            <li><a href="#">Новые игры</a></li>
                            <li><a href="#">Популярные</a></li>
                            <li><a href="#">Со скидкой</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header_flex-wraper__right">
            <div class="header_flex-wraper__right__social">
                <a href="#"><img src="{% static 'images/instagram.svg' %}" class="icon__social_instagram"></a>
                <a href="#"><img src="{% static 'images/whatsapp.svg' %}" class="icon__social_whatsapp"></a>
                <a href="#"><img src="{% static 'images/telegram.svg' %}" class="icon__social_telegram"></a>
                <a href="#"><img src="{% static 'images/viber.svg' %}" class="icon__social_viber"></a>
            </div>
            <div class="header_flex-wraper__right__search">
                <input type="search" name="search" id="search" placeholder="Поиск...">
            </div>
            <div class="header_flex-wraper__right__cart">
                <a href="#"><i class="fas fa-shopping-cart icon__cart"></i></a> <span class="icon__cart_count">0</span>
            </div>
        </div>
    </div>
</header>