$base_color: #0072CE;
$font_color: #FFFFFF;
$second_font_color: #E5E5E5;

* {
    color: $font_color;
}

a {
    text-decoration: none;
    outline: none!important;
    &:active {
        border:0;
        outline: none;
    }
}

body {
    height: 200vh;
}