{% extends 'base.html' %}

{% block content %}
<div class="d-flex p-2 flex-column">
    <div class="container">
        <div class="container section">
            <div class="container">
                <div class="carousel-title__title-wraper">Популярные товары</div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-touch="false">
                <div class="carousel-indicators">
                    {% for item in carousel.lenght %}
                    {% if forloop.first %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ item }}"
                        class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                    {% else %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ item }}"
                        aria-label="Slide {{ forloop.counter }}"></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for game in carousel.games %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        <a href="{{ game.get_absolute_url }}">
                            <img src="https://picsum.photos/id/101/1000/500" class="d-block w-100" alt="...">
                        </a>
                        <div class="carousel-caption d-none d-md-block bg-caption">
                            <h3>{{ game.name|capfirst  }}</h3>
                            {% if game.description %}
                            <p>{{ game.description|capfirst|truncatewords:7 }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <a href="{{ game.get_absolute_url }}">
                            <img src="https://picsum.photos/id/101/1000/500" class="d-block w-100" alt="...">
                        </a>
                        <div class="carousel-caption d-none d-md-block bg-caption">
                            <h3>{{ game.name|capfirst  }}</h3>
                            {% if game.description %}
                            <p>{{ game.description|capfirst|truncatewords:7 }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for console in carousel.consoles %}
                    <div class="carousel-item">
                        <a href="{{ console.get_absolute_url }}">
                            <img src="https://picsum.photos/id/101/1000/500" class="d-block w-100" alt="...">
                        </a>
                        <div class="carousel-caption d-none d-md-block bg-caption">
                            <h3>{{ console.name }}</h3>
                            {% if console.description %}
                            <p>{{ console.description|capfirst|truncatewords:7 }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container section">
            <div class="new-games">
                <div class="section-title">
                    <div class="section-title__title_wraper">
                        Новинки
                    </div>
                </div>
                <div class="section-games">
                    {% for game in games %}
                        <div class="game-card">
                            <a href="{{ game.get_absolute_url }}">
                            <div class="picture-wraper">
                                <picture>
                                    <source srcset="https://picsum.photos/400/800" media="(min-width: 600px)">
                                    <img src="https://picsum.photos/400/800" alt="image">
                                </picture>
                            </div>
                            <div class="body-wraper">
                                <div class="game-title">
                                    <span>{{ game.name }}</span>
                                </div>
                                <div class="game-price">
                                    <span>{{ game.price }} ₽</span> 
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container section">
            <div class="row row-cols-4 justify-content-evenly">
                <div class="col">
                    <a href="#">
                        <img src="https://picsum.photos/300/150" class="card-img" alt="image">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://picsum.photos/300/150" class="card-img" alt="image">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://picsum.photos/300/150" class="card-img" alt="image">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://picsum.photos/300/150" class="card-img" alt="image">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://picsum.photos/300/150" class="card-img" alt="image">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://picsum.photos/300/150" class="card-img" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}