{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'css/components/_game_card.scss' %}">
<link type="text/css" rel="stylesheet" href="{% sass_src 'css/game/game_list.scss' %}">
{% endblock styles %}


{% block content %}
<main class="content">
    <div class="centered grid">
        <div class="catalog grid_item">
            <div class="catalog_header">
                <div class="catalog_header_title">{{ category.name }}</div>
            </div>
            <div class="catalog_grid">
                {% for game in games %}
                <div class="game-card">
                    <a href="{% url 'catalog:detail' game.slug %}">
                        <div class="game-card_cover">
                            <img src="{{ game.get_cover.image.url }}" alt="">
                        </div>
                        <div class="game-card_body">
                            <div class="game-card_body_header">
                                {{ game.name }}
                            </div>
                            <div class="game-card_body_footer">
                                <span class="game-card_body_footer_price">
                                    {{ game.price }}
                                </span>
                                <!-- <a href="#" class="game-card_body_footer_button">
                                    В корзину
                                </a> -->
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="filter grid_item">
            <form class="filter_group">
                <div class="filter_group_header">
                    <div class="filter_group_header_title">Цена</div>
                </div>
                <div class="filter_group_items">
                    <div class="filter_group_items_label">
                        <label for="min_price" class="filter_group_items_label_text">
                            От
                        </label>
                        <input type="number" name="price" id="price_min" min="0" placeholder="Мин. цена"
                            class="filter_group_items_label_input">
                        <br />
                        <label for="max_price" class="filter_group_items_label_text">
                            До
                        </label>
                        <input type="number" name="price" id="price_max" min="0" placeholder="Макс. цена"
                            class="filter_group_items_label_input">
                    </div>
                </div>
            </form>
            <form class="filter_group">
                <div class="filter_group_header">
                    <div class="filter_group_header_title">Жанры</div>
                </div>
                <div class="filter_group_items">
                    <div class="filter_group_items_label">
                        <select name="genre" id="genre">
                            <option value="">Все игры</option>
                            {% for genre in genres %}
                            <option value="{{ genre.value }}">{{ genre.value }}</option>
                            {% endfor %}
                            <!-- <option value="Ролевые">Ролевые</option>
                            <option value="Симуляторы">Симуляторы</option>
                            <option value="Гонки">Гонки</option>
                            <option value="Спорт">Спорт</option>
                            <option value="Экшен">Экшен</option>
                            <option value="Шутер">Шутер</option>
                            <option value="Приключение">Приключение</option> -->
                        </select>
                    </div>
                </div>
            </form>
            <div class="filter_show">
                <div id="submit" class="filter_show_button button">Показать</div>
                <div id="reset" class="filter_show_button button">Сбросить</div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/game_list.js' %}"></script>
{% endblock scripts %}
