{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'css/game/game_detail.scss' %}">

{% endblock styles %}

{% block content %}
<main>
    <div class="cover-container">
        <img src="{{ game.get_cover.image.url }}" alt="" class="cover-container_img">
        <div class="cover-container_inner">
            <div class="cover-container_inner_description">
                <div class="cover-container_inner_description_text">{{ game.name }}</div>
                <div class="cover-container_inner_description_flex-wraper">
                    <div class="cover-container_inner_description_flex-wraper_price">{{ game.price }} р</div>
                    <a href="#" class="cover-container_inner_description_flex-wraper_button button">Добавить в
                        корзину</a>
                </div>
            </div>
        </div>
    </div>
    <div class="galery-container">
        <a href="#" class="galery-container_left-arrow ">&#10094;</a>
        <div class="galery-container_inner">

            {% for image in game.images.all %}
            <img src="{{ image.image.url }}" class="galery-container_inner_img cursor"
                onclick="openModal(); currentSlide({{ forloop.counter }})">
            {% endfor %}

        </div>
        <a href="#" class="galery-container_rigth-arrow">&#10095;</a>
    </div>

    <div class="lightbox-container" id="lightbox">
        <span class="lightbox-container_close cursor" onclick="closeModal()">X</span>
        <div class="lightbox-container_body">

            <div class="lightbox-container_body_slide">
                {% for image in game.images.all %}
                <img src="{{ image.image.url }}" class="lightbox-container_body_slide_img">
                {% endfor %}
            </div>

            <a class="lightbox-container_body_left-arrow cursor" onclick="plusSlides(-1)">&#10094;</a>
            <a class="lightbox-container_body_right-arrow cursor" onclick="plusSlides(1)">&#10095;</a>

            <div class="lightbox-container_body_demos">
                {% for image in game.images.all %}

                {% if forloop.first %}
                <img src="{{ image.image.url }}" class="lightbox-container_body_demos_img cursor demo_img_active"
                    onclick="currentSlide({{ forloop.counter }})">
                {% else %}
                <img src="{{ image.image.url }}" class="lightbox-container_body_demos_img cursor"
                    onclick="currentSlide({{ forloop.counter }})">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="info-container centered">
        <div class="info-container_description">
            <div class="info-container_description_header">
                Описание
            </div>
            <div class="info-container_description_text">
                {{ game.description }}
            </div>
        </div>
        <div class="info-container_attributes">
            <div class="info-container_attributes_header">

            </div>
            <ul class="info-container_attributes_list">
                {% for value in game.values.all %}
                <li>
                    <span class="info-container_attributes_list_key">{{ value.attribute }} : </span>
                    <ul class="info-container_attributes_sublist">
                        <li><span class="info-container_attributes_sublist_value">{{ value }}</span></li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="banner-container centered">
        <img src="{{ game.get_cover.image.url }}" alt="" class="banner-container_img">
        <div class="banner-container_text">
            {{ game.name }}
        </div>
    </div>
</main>
<script src="{% static 'js/lightbox.js' %}"></script>
{% endblock content %}