{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'css/base/_base.scss' %}" />
    <link type="text/css" rel="stylesheet" href="{% sass_src 'css/components/_header.scss' %}" />
    <link type="text/css" rel="stylesheet" href="{% sass_src 'css/components/_footer.scss' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@100;200;300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/9ec74c6cf9.js" crossorigin="anonymous"></script>
    {% block styles %}{% endblock %}
</head>

<body>
    {% include 'component/header.html' %}
    {% block content %}
    {% endblock content %}

    <footer class="footer">
        <section class="footer_inner centered">
            <div class="footer_inner_contacts">
                <div class="footer_inner_contacts_address">
                    <div class="footer_inner_contacts_address_title">
                        Наши контакты:
                    </div>
                    <div class="footer_inner_contacts_address_item">
                        <address>Москва, ул. Москворечье</address>
                        <span>+7 777 777 77 77</span>
                    </div>
                </div>
                <div class="footer_inner_contacts_social">
                    <a href="#"><img src="{% static 'images/instagram.svg' %}"
                            class="icon__social_footer_instagram"></a>
                    <a href="#"><img src="{% static 'images/whatsapp.svg' %}" class="icon__social_footer_whatsapp"></a>
                    <a href="#"><img src="{% static 'images/telegram.svg' %}" class="icon__social_footer_telegram"></a>
                    <a href="#"><img src="{% static 'images/viber.svg' %}" class="icon__social_footer_viber"></a>
                </div>
            </div>
            <div class="footer_inner_copyright">
                © 2021, Ps shop. Все права сохранены.
            </div>
        </section>
    </footer>

{% block scripts %}
    
{% endblock scripts %}
<script src="{% static 'js/carousel.js' %}"></script>
    
</body>

</html>