{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    {% for set in product_sets %}
    <div class="row row-cols-{{ set|length }} justify-content-around gy-3 gx-5 my-3">
        {% for item in set %}
        <div class="col">
            <a href="{{ item.get_absolute_url }}">
                <img src="https://picsum.photos/300/150" class="card-img" alt="image">
                <p>{{ item }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}