@import '../base/base';
.footer {
    margin-top: 100px;
    height: 200px;
    background-color: $base_color;

    &_inner {
        height: 155px;
        padding: 35px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;

        &_contacts {
            display: flex;
            justify-content: space-between;

            &_address {
                &_title {
                    font-size: 24px;
                    font-weight: 700;
                }

                &_item {
                    margin-top: 15px;
                    address {
                        margin-bottom: 10px;
                        display: block;
                    }
                    span {
                        margin-bottom: 10px;
                        display: block;
                    }
                }

            }

            &_social {
                font-size: 38px;

                a {
                    margin-left: 5px;
                }
            }
        }

        &_copyright {}
    }
}